.header{
    width: auto;
    height: 75px;
}
.nav{
    background-color: powderblue;
    width: 100%;
    height: 50px;
}
.picture{
    background-color: mediumpurple;
    width: 100%;
    height: 400px;
}
.plan{
    float: left;
    margin: 1.5%;
    height: 150px;
    width: 30%;
    
}
.aboutus{
    background-color: white;
    color: black;
    padding: 2px;
    font-size: 24px;
    width: 75%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
.search{
    width: 90%
}
.house{
    background-color: greenyellow;
    float: left;
    margin: 1.5%;
    height: 200px;
    width: 15%;
    
}
.abmg{
    background-color: mediumpurple;
    color: white;
    padding: 2px;
    font-size: 16px;
    width: 90%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
.shouse{
    background-color: purple;
    color: white;
    padding: 2px;
    font-size: 16px;
    width: 60%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
.img{
    background-color: orange;
    color: white;
    padding: 2px;
    font-size: 16px;
    width: 80%;
    height: 400px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
.learn{
    background-color: blue;
}
.background{
    background-image: url(../images/house1.jpg);
}

.floatright{
    float: right;
    width: 50px;
    height: 50px;
}
.floatleft{
    float: left;
    overflow: hidden;
    width: 45%;
}
.adminPhoto{
    margin: auto;
}
.adminpage{
    background-color: dimgrey;
    height: 976px;
}